.welcome{
    color: white;
    background-image: url(images/h_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    /* height: 1071px; */
    margin-bottom: 50px;
    padding-left: 50px;
}
.logo{
    margin-top: 15%;
}
.mose{
    margin-top: 15%;
}
.about h2{
    font-weight: bold;
}
.about{
    text-align: center;
}
.services h2{
    font-weight: bold;
}
.services{
    text-align: center;
    color: white;
    background-image: url(images/s_image.jpg);
    width: 100%;
    background-size: cover;
    padding: 80px;    
}
.whatwedoheading{
    text-align: center;
    margin: 50px;
    font-weight: bold;
}
.whatwedo{
    margin-bottom: 50px;
}
.designshow{
    text-align: center;
}
.designnotshow{
    text-align: center;
    display: none;
}
.devshow{
    text-align: center;
}
.devnotshow{
    text-align: center;
    display: none;
}
.productshow{
    text-align: center;
}
.productnotshow{
    text-align: center;
    display: none;
}
.portfoliopart{
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}
.row2{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.para-text{
    text-align: center;
}
.imagetext {
    width: 60%;
    height: 80%;
    margin: 8%;
    display: none;
    position: absolute;
    bottom: 0px;
    background:black;
    opacity: 0.8;
    border: 3px solid white;
    box-sizing: border-box;    
}
.imagetext p{
    font-family: 'Do Hyeon', sans-serif;
    text-align:left ;
    font-weight: 400;
    padding-top: 0px;
    padding-left: 5px;
    font-size: 30px;
    color: white;
   
}